/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full height of the viewport */
  padding: 20px 0; /* Reduce padding to create space on top and bottom */
  background-color: #A7D7C5;
  overflow: hidden; /* Ensure no overflow */
}

/* Form Wrapper */
.form-wrapper {
  background-color: #F6FBF9;
  padding: 20px; /* Further reduce padding */
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure it takes full width within its margin */
  max-width: 360px; /* Reduce max-width */
  text-align: center;
  margin: 20px; /* Margin to keep space on sides */
}

@media (max-width: 480px) {
  .form-wrapper {
    width: 100%;
    margin: 0; /* Remove margin on small screens */
    border-radius: 0;
    padding: 15px; /* Further reduce padding on small screens */
  }
}

/* Title */
.title {
  color: #212B27;
  margin-bottom: 10px;
  font-size: 1.4em; /* Adjusted font size */
}

/* Paragraph */
.paragraph {
  color: #32403B;
  margin-bottom: 10px; /* Reduced margin */
  font-size: 0.9em; /* Adjusted font size */
}

/* Input */
.input {
  width: calc(100% - 24px);
  padding: 10px; /* Reduced padding */
  margin: 8px 0; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
}

.input::placeholder {
  color: #000000;
  padding-left: 6px;
  padding-right: 6px;
  opacity: 0.5;
  text-indent: -6.4px;
  font-size: 14px; /* Adjust the font size of the placeholder text */
}

/* Hide the default eye button in password fields */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none;
}

input[type="password"]::-webkit-password-toggle {
  display: none;
}

input[type="password"] {
  -webkit-text-security: disc;
}

/* Password Input Wrapper */
.password-input-wrapper {
  position: relative;
  width: 100%;
  margin: 8px 0; /* Reduced margin */
}

/* Password Input */
.password-input {
  width: calc(100% - 24px);
  padding: 10px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
}

/* Toggle Button */
.toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove any default padding */
}

/* Button */
.button {
  background-color: #84C7AE;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  padding: 12px; /* Reduced padding */
  width: 70%; /* Adjusted width */
  font-size: 16px; /* Reduced font size */
  cursor: pointer;
  margin-top: 15px; /* Adjusted margin */
  margin-bottom: 10px;
}

.button:hover {
  background-color: #94C2B3;
}

/* Styled Link Wrapper */
.styled-link-wrapper {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 5px;
}

/* Styled Link */
.styled-link {
  color: inherit;
  text-decoration: none;
}

.styled-link:hover {
  text-decoration: underline;
}
